#app {
  background-color: #FDEDFB;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
  color: #C71585;
}

.card-subtitle, a {
  color: #F279BC;
}

.list-group-item-heading {
  color: #7c1d2d;
}

.i {
  color: #FDB7FA;
}

.si {
  color: #C71585;
}

.font-weight-lighter {
  color: #2c1171;
}